name: Build and Deploy Crystal View App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Build with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: crystal_view_app-debug.apk
          path: app/build/outputs/apk/debug/app-debug.apk
          
